* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

li, a{
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;
    text-decoration: none;
    color: black;
}

body{
    max-width: 1728px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
}

.container{
    height: 100vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    background-color: aqua;
}

.menu{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
}

.links{
    display: flex;
    
}

.link{
    margin: 0 10px 0 0;
    
}

.cont_central{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.area_cadastro{
    background-color: blueviolet;
    height: 100vh;
    width: 40%;
    display: flex;
    flex-direction: column;
}


.login{
    height: 70px;
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    padding-left: 20px;
}

.login input{
    width: 35%;
    border: none;
    border-radius: 25px;
    padding: 9px;
    
}

.cadastro{
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.cadastro form{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.nomecadastro{
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.inputnome{
    width: 100%;
    border: none;
    border-radius: 25px;
    padding: 9px;
    margin-bottom: 5px;
}

.inputcadastro{
    width: 67%;
    border: none;
    border-radius: 25px;
    padding: 9px;
    margin: 5px;
}
