* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

:root {
    --cor01: #FBF2D3;
    --cor02: #5CD3E7;
    --corlogin: #F3E868;
    --corlogin2: #00000027;
    --corfont: #3086C2;
    --corbtn: #3085C5;

    --font01: 'inter';
}

li,
a {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;
    text-decoration: none;
    color: black;
}

body {
    max-width: 1728px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    background-color: var(--cor01);
    font-family: var(--font01);
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--cor01);
}

.logo {
    width: 60px;
    margin-left: 20px;
}

.menu {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor01);
    margin-top: 10px;
}

.links {
    display: flex;

}

.link {
    margin: 0 30px 0 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
}

.link::after {
    content: "";
    width: 0%;
    height: 4px;
    border-radius: 4px;
    background-color: #000;
    position: absolute;
    bottom: -1px;
    left: 4px;
    transition: 0.5s ease-in-out;
}

.link:hover::after {
    width: 90%;

}

.cont_central {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cont_central h1 {
    color: #3086C2;
    font-size: 66px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cont_central h2 {
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn_sobre {
    border-radius: 30px;
    background: #000;
    color: #FFF;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
}

.btn_sobre a{
    color: #FFF;
}

.area_cadastro {
    background-color: var(--corlogin);
    height: 100vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}


.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    margin: 0 auto;
}

.tlogin {
    color: #3086C2;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.login input {
    width: 100%;
    border: none;
    border-radius: 25px;
    padding: 9px 40px;
    margin-top: 15px;
    box-sizing: border-box;

}

.lembremediv {
    display: flex;
    font-size: 16px;
    align-items: baseline;
    white-space: nowrap;
    gap: 5px;

}

.btn_login {
    margin-top: 15px;
    border-radius: 25px;
    background: var(--corbtn);
    border: none;
    padding: 8px 20px;
    cursor: pointer;
}

.cadastro {
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.cadastro form {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--corlogin2);
    width: 90%;
    height: 40vh;
    margin: 0 auto;
    padding: 30px 0px;
    border-radius: 25px;
}

.tcadastro {
    color: #3086C2;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nomecadastro {
    width: 73%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.inputnome {
    width: 100%;
    border: none;
    border-radius: 25px;
    padding: 9px;
    margin-bottom: 5px;
}

.inputcadastro {
    width: 67%;
    border: none;
    border-radius: 25px;
    padding: 9px;
    margin: 5px;
}

.btn_cadastro {
    width: 70%;
    margin-top: 15px;
    border-radius: 25px;
    background: var(--corbtn);
    border: none;
    padding: 8px 10px;
    cursor: pointer;
}


/*vacinação*/

.areacards {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.areacards h2 {
    margin-left: 20px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cardy {
    width: 300px;
    height: 150px;
    margin: 30px;
    border-radius: 15px;
    background-color: var(--corlogin);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.cardy p {
    margin: 20px;
}

.cardb {
    width: 300px;
    height: 150px;
    margin: 30px;
    border-radius: 15px;
    background-color: var(--corbtn);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.cardb p {
    margin: 20px;
}

/*===========VACINAÇÃO================*/

.carrocel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.banners{
display: flex;
gap: 20px;
padding: 20px;
}

.banner{
    background-color: #000;
    width: 200px;
    height: 350px;
}

.btn_doacao{
    margin-top: 15px;
    border-radius: 25px;
    background: var(--corbtn);
    border: none;
    padding: 8px 20px;
    cursor: pointer;
}